.Card {
  padding: 1rem;
  margin: 1.6rem 0 0 0;
  border-radius: 1rem;
  width: 100%;

  &:last-child {
    margin-bottom: 3rem;
  }

  @media (min-width: $desktop) {
    width: 31%;
  }

  &.normal {
    @include bg-color('normal');
    @include card-shadow('normal');
    @include bg-type-image('normal');
  }
  &.fighting {
    @include bg-color('fighting');
    @include card-shadow('fighting');
    @include bg-type-image('fighting');
  }
  &.flying {
    @include bg-color('flying');
    @include card-shadow('flying');
    @include bg-type-image('flying');
  }
  &.poison {
    @include bg-color('poison');
    @include card-shadow('poison');
    @include bg-type-image('poison');
  }
  &.ground {
    @include bg-color('ground');
    @include card-shadow('ground');
    @include bg-type-image('ground');
  }
  &.rock {
    @include bg-color('rock');
    @include card-shadow('rock');
    @include bg-type-image('rock');
  }
  &.bug {
    @include bg-color('bug');
    @include card-shadow('bug');
    @include bg-type-image('bug');
  }
  &.ghost {
    @include bg-color('ghost');
    @include card-shadow('ghost');
    @include bg-type-image('ghost');
  }
  &.steel {
    @include bg-color('steel');
    @include card-shadow('steel');
    @include bg-type-image('steel');
  }
  &.fire {
    @include bg-color('fire');
    @include card-shadow('fire');
    @include bg-type-image('fire');
  }
  &.water {
    @include bg-color('water');
    @include card-shadow('water');
    @include bg-type-image('water');
  }
  &.grass {
    @include bg-color('grass');
    @include card-shadow('grass');
    @include bg-type-image('grass');
  }
  &.electric {
    @include bg-color('electric');
    @include card-shadow('electric');
    @include bg-type-image('electric');
  }
  &.psychic {
    @include bg-color('psychic');
    @include card-shadow('psychic');
    @include bg-type-image('psychic');
  }
  &.ice {
    @include bg-color('ice');
    @include card-shadow('ice');
    @include bg-type-image('ice');
  }
  &.dragon {
    @include bg-color('dragon');
    @include card-shadow('dragon');
    @include bg-type-image('dragon');
  }
  &.dark {
    @include bg-color('dark');
    @include card-shadow('dark');
    @include bg-type-image('dark');
  }
  &.fairy {
    @include bg-color('fairy');
    @include card-shadow('fairy');
    @include bg-type-image('fairy');
  }
}
