@import '../Globals.scss';

.Card {
  padding: 1rem;
  margin: 1.6rem 0 0 0;
  border-radius: 1rem;
  width: 100%;
  transition: all 0.3s ease;

  .lds-ellipsis {
    margin-left: 35%;

    div {
      background: $white;
    }
  }

  @media (min-width: $desktop) {
    min-width: 100%;
  }

  &.normal {
    @include pokeCard('normal');
  }
  &.fighting {
    @include pokeCard('fighting');
  }
  &.flying {
    @include pokeCard('flying');
  }
  &.poison {
    @include pokeCard('poison');
  }
  &.ground {
    @include pokeCard('ground');
  }
  &.rock {
    @include pokeCard('rock');
  }
  &.bug {
    @include pokeCard('bug');
  }
  &.ghost {
    @include pokeCard('ghost');
  }
  &.steel {
    @include pokeCard('steel');
  }
  &.fire {
    @include pokeCard('fire');
  }
  &.water {
    @include pokeCard('water');
  }
  &.grass {
    @include pokeCard('grass');
  }
  &.electric {
    @include pokeCard('electric');
  }
  &.psychic {
    @include pokeCard('psychic');
  }
  &.ice {
    @include pokeCard('ice');
  }
  &.dragon {
    @include pokeCard('dragon');
  }
  &.dark {
    @include pokeCard('dark');
  }
  &.fairy {
    @include pokeCard('fairy');
  }
}
