@import '../Globals.scss';

$top-separation: 35vh;

.DetailsSection {
  position: absolute;
  top: $top-separation;
  left: 0;
  width: 100%;
  min-height: 100vh - $top-separation;
  border-radius: 1rem 1rem 0 0;
  background-color: $white;
  padding: 1rem 2rem;
  font-size: 0.8rem;
  font-weight: 500;

  table tr {
    line-height: 1.5rem;
  }

  td:first-child {
    font-weight: 700;
    width: 7rem;
  }

  .hidden-ability {
    font-weight: 400;
    font-size: 0.7rem;
  }

  .types {
    @extend %d-flex;
    $darking-type: 10%;
    font-size: 0.8rem;

    div {
      @extend %center-v;
      border-radius: 3px;
      margin: 0 0.2rem;
      padding: 0.1rem 0.3rem;
      color: $white;
      font-size: 0;

      img,
      .icon {
        fill: #ffffff;
        $icon: 1rem;
        position: static;
        max-height: $icon;
        width: $icon;
      }
    }
    .normal {
      @include bg-color('normal', $darking-type);
    }
    .fighting {
      @include bg-color('fighting', $darking-type);
    }
    .flying {
      @include bg-color('flying', $darking-type);
    }
    .poison {
      @include bg-color('poison', $darking-type);
    }
    .ground {
      @include bg-color('ground', $darking-type);
    }
    .rock {
      @include bg-color('rock', $darking-type);
    }
    .bug {
      @include bg-color('bug', $darking-type);
    }
    .ghost {
      @include bg-color('ghost', $darking-type);
    }
    .steel {
      @include bg-color('steel', $darking-type);
    }
    .fire {
      @include bg-color('fire', $darking-type);
    }
    .water {
      @include bg-color('water', $darking-type);
    }
    .grass {
      @include bg-color('grass', $darking-type);
    }
    .electric {
      @include bg-color('electric', $darking-type);
    }
    .psychic {
      @include bg-color('psychic', $darking-type);
    }
    .ice {
      @include bg-color('ice', $darking-type);
    }
    .dragon {
      @include bg-color('dragon', $darking-type);
    }
    .dark {
      @include bg-color('dark', $darking-type);
    }
    .fairy {
      @include bg-color('fairy', $darking-type);
    }
  }
}
