@import '../Globals.scss';

.PokeList {
  margin-bottom: 3rem;

  & > a {
    min-height: 10rem;
    text-decoration: none;
    @extend %center-total;

    &.show {
      min-height: auto;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > a {
      min-width: 31%;
    }
  }

  .lds-ellipsis div {
    background: $black;
  }
}
